Let's import the required packages.

In [2]:
import pandas as pd
import numpy as np
import geocoder

Let's read the csv files into dataframe using pandas.

In [3]:
df_loc = pd.read_csv('toronto.csv')
df_geo = pd.read_csv('http://cocl.us/Geospatial_data')
df_geo.columns = ['Postcode', 'Latitude', 'Longitude']

In [4]:
df_loc.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Malvern, Rouge
1      M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [ ]:
postal_code = 'M5G'

lat_long_coords = None

while(lat_long_coords is None):
    g = geocoder.google('{}, Toronto, Ontario'.format(postal_code))
    lat_long_coords = g.latlng
    
latitude = lat_long_coords[0]
latitude = lat_long_coords[1]

Let's merge the two above mentioned datasets.

In [11]:
df = pd.merge(df_loc, df_geo, on=['Postcode'], how='inner')

tor_geo = df[['Borough', 'Neighbourhood', 'Postcode', 'Latitude', 'Longitude']]

tor_geo.head()

,Borough,Neighbourhood,Postcode,Latitude,Longitude
0,Scarborough,"Malvern, Rouge",M1B,43.806686,-79.194353
1,Scarborough,"Rouge Hill, Port Union, Highland Creek",M1C,43.784535,-79.160497
2,Scarborough,"Guildwood, Morningside, West Hill",M1E,43.763573,-79.188711
3,Scarborough,Woburn,M1G,43.770992,-79.216917
4,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

Let's save this combined data as a csv file and name it as `tor_geo.csv`.

In [18]:
tor_geo.to_csv('tor_geo.csv', index=False)